@import "partials/variables";

ul {
  margin: 0px;
  padding: 10px;
  background-color: $secondary-color;
  list-style-type: none;
}

li {
  display: inline;
  margin: 10px;
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
  color: $primary-color;
}

.navbar-link:hover {
  color: $third-color;
}

h1 {
  font-size: 50px;
  color: $primary-color;
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: $primary-color;
  margin: 10px;
  text-align: center;
}

footer {
  background-color: $secondary-color;
}
