@import "partials/variables";
@import "partials/contact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-image: $bkgn-color;
  height: 100vh;
  width: 100vw;
}

// Navbar

nav {
  display: flex;
  justify-content: space-between;

  ul {
    width: 100vw;
  }

  ul,
  li {
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    display: inline;

    .home {
      float: left;
    }

    .main-nav {
      float: right;
    }
    .navbar-link {
      text-decoration: none;
      color: $primary-color;
    }

    .navbar-link:hover {
      color: $third-color;
    }
  }
}

// main section

h1 {
  font-size: 65px;
  color: $primary-color;
  margin: 0px;
  text-align: center;
}

h2 {
  font-size: 60px;
  color: $primary-color;
  margin: 0px;
  text-align: center;
}

h3 {
  font-size: 58px;
  color: $primary-color;
  margin: 0px;
  text-align: center;
}

.box-h1 {
  position: relative;
  right: 146px;
  top: 132px;
  transition: 00.3s;
}

.box-h1:hover {
  cursor: pointer;
  color: $third-color;
  font-size: 80px;
}

.box-h2 {
  position: relative;
  top: 136px;
  right: 47px;
  transition: 00.3s;
}

.box-h2:hover {
  cursor: pointer;
  color: $third-color;
  font-size: 80px;
}

.box-h3 {
  position: relative;
  top: 138px;
  left: 120px;
  transition: 00.3s;
}

.box-h3:hover {
  cursor: pointer;
  color: $third-color;
  font-size: 80px;
  transform: rotate(-25deg);
  top: 155px;
  left: 175px;
}

// footer

aside {
  float: right;
  ul {
    list-style-type: none;
    margin-right: 10px;
    .fa-clickable {
      cursor: pointer;
    }
  }
}

.signature {
  position: absolute;
  bottom: 10px;
  left: 45%;
  font-size: 12px;
}

// .bottom-container {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   span {
//     font-size: 3em;
//     color: $primary-color;
//     display: block;
//   }
//   small {
//     color: $primary-color;
//   }
// }
