@import "partials/variables";

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

ul {
  margin: 0px;
  padding: 10px;
  list-style-type: none;
}

.navbar-link {
  text-decoration: none;
  color: $primary-color;
}

.navbar-link:hover {
  color: $third-color;
}

h1 {
  font-size: 50px;
  color: $primary-color;
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: $primary-color;
  margin: 10px;
  text-align: center;
}

.bottom-container {
  display: flex;
}

span {
  font-size: 3em;
  color: $primary-color;
  display: block;
}

small {
  color: $primary-color;
}
