// about me section
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 250px;
}

.container {
  margin: 50px 100px;
}

#profile img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

#hello {
  // border: 1px solid red;
}

.hello,
.name,
.title {
  // text-align: center;
}

.hello {
  font-size: 23px;
}

.name {
  font-size: 50px;
}

.title {
  font-size: 19px;
}

.base {
  font-size: 23px;
}

.download {
  font-size: 14px;
  margin: 5px 5px 5px 0px;
}
