// about me section
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 250px;
}

.container {
  margin: 31px 100px;
}

#profile img {
  width: 60%;
  float: right;
}

#hello {
  border: 1px solid red;
}

.hello,
.name,
.title {
  text-align: left;
}

.hello {
  font-size: 20px;
}

.name {
  font-size: 40px;
}

.title {
  font-size: 15px;
}

//  next section

.container-text {
  border: 1px solid red;
}

#profile-text p {
  margin: 20px;
  color: white;
  //   text-align: justify;
}
