#blogs {
  background-color: #eee;
  margin: 20px;
}

.blog-title {
  text-align: center;
  font-size: 3em;
  padding: 20px;
}

#blogs h2 {
  margin: 20px;
  text-align: center;
}

#visit {
  text-align: center;
  padding-bottom: 10px;
}

.blog {
  background: white;
  margin: 10px;
  //   min-height: 250px;
}

.blog img {
  width: 100%;
}
