#projects {
  background-color: #eee;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.project-title {
  text-align: center;
  font-size: 3em;
  padding: 20px;
  color: $third-color;
}

#projects h2 {
  margin: 10px;
  text-align: center;
}

#launch {
  text-align: center;
  padding-bottom: 10px;
}

.project {
  background: white;
  margin: 30px;
  //   min-height: 250px;
}

.project img {
  width: 100%;
}
