@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

$primary-color: #dbe4e9;
$secondary-color: #102027;
$third-color: #62727b;
$bkgn-color: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
$primary-text: "Dosis", sans-serif;
