// Main section
// Styling cards with project explanations and images

#projects {
  background-color: #eee;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.project-title {
  text-align: center;
  font-size: 3em;
  padding: 20px;
  color: $third-color;
}

#projects h2 {
  margin: 10px;
  text-align: center;
}

#launch {
  text-align: center;
  padding-bottom: 10px;
  a {
    text-decoration: none;
    color: $secondary-color;
  }
  a:hover {
    color: $primary-color;
  }
}

.project {
  background: white;
  margin: 30px;
  border-radius: 5px;
  // min-height: 450px;
}

.project:hover {
  background-color: #ddd;
}

// image

.project img {
  width: 100%;
  // min-height: 350px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project img:hover {
  filter: grayscale(70%);
}

// Media break points

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  // .bottom-icons {
  //   position: fixed;
  //   bottom: 0;
  //   width: 100%;
  // }
}
@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
